# Torch
torch~=2.5.1
torchvision~=2.3.1+cu118

# All
numpy~=1.26.4
pandas~=2.2.2
pillow~=10.4.0
scikit-learn==0.1.0
supervision~=0.21.0
tqdm==4.66.4

scikit-image==0.24.0
scikit-learn==1.5.1
scikit-metrics==0.1.0

# experiment 1
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@main
mobile_sam @ git+https://github.com/ChaoningZhang/MobileSAM.git@main

# experiment 2
transformers~=4.42.3

# experiment 3
ftfy==6.2.0
regex==2024.5.15
clip @ git+https://github.com/openai/CLIP.git@main

# experiment 4
lang_sam @ git+https://github.com/luca-medeiros/lang-segment-anything@main

# experiment 5
scikit-optimize==0.10.2
grad-cam==1.5.2